#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_auto_build:
	usr/sbin/zro -md > README.md
	help2man -s 8 -N -o debian/zro.8 usr/sbin/zro
	for i in ro rw mount.zro umount.fuse.zro; do \
		cp debian/zro.8 debian/$$i.8; \
	done
	dh_auto_build

# use 'make -f debian/rules source' to build source tarball
source: clean
	@name=`basename \`pwd\``;					\
	tarball="`sed -ne 's,^\([^ ]*\)[^(]*(\(.*\)-[0-9]*).*,\1_\2,g' -e '1p' < debian/changelog`.orig.tar.gz";	\
	if test -f "../$$tarball"; then					\
		echo "*** ../$$tarball already exists";			\
		echo "*** - move it away or change the version";	\
	else								\
		cd ..;							\
		echo "*** building '../$$tarball'";			\
		tar cfz "$$tarball" --exclude=".git" "$$name" &&	\
		echo "*** you can now play with debuild";		\
	fi

%:
	dh $@
